In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("pib_data.csv")
df.head()

,Unnamed: 0,Pays/Zone,PIB 1980,PIB 1981,PIB 1982,PIB 1983,PIB 1984,PIB 1985,PIB 1986,PIB 1987,...,PIB 2014,PIB 2015,PIB 2016,PIB 2017,PIB 2018,PIB 2019,PIB 2020,PIB 2021,PIB 2022,PIB 2023
0,0,Afghanistan,-,-,-,-,-,-,-,-,...,"20,616","20,057","18,02","18,883","18,401","18,876","20,136","14,941",-,-
1,1,Afrique,"465,984","475,726","481,617","462,898","404,801","397,355","436,64","489,89",...,"2 650,979","2 422,14","2 303,976","2 317,348","2 482,1","2 542,636","2 457,79","2 745,183","2 945,709","2 858,342"
2,2,Afrique du Sud,"89,412","93,15","85,897","96,205","84,838","64,481","73,399","96,533",...,"381,195","346,663","323,493","381,317","405,093","389,245","338,193","420,009","405,106","380,906"
3,3,Albanie,"1,946","2,229","2,296","2,319","2,29","2,339","2,587","2,566",...,"13,246","11,389","11,862","13,053","15,157","15,399","15,192","17,984","19,083","23,032"
4,4,Algérie,"42,346","44,372","44,78","47,529","51,513","61,132","61,535","63,3",...,"213,81","165,979","160,034","167,498","174,868","171,673","145,656","163,138","195,06","224,107"

In [3]:
#delete rows with continent value in Pays/Zone column
df=df[~df["Pays/Zone"].isin(["Afrique", 
                           "Europe", 
                           "Asie", 
                           "Amérique du Nord", 
                           "Amérique du Sud", 
                           "Océanie"])]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 203 entries, 0 to 207
Data columns (total 46 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  203 non-null    int64
 1   Pays/Zone   203 non-null    object
 2   PIB 1980    176 non-null    object
 3   PIB 1981    176 non-null    object
 4   PIB 1982    176 non-null    object
 5   PIB 1983    176 non-null    object
 6   PIB 1984    176 non-null    object
 7   PIB 1985    176 non-null    object
 8   PIB 1986    176 non-null    object
 9   PIB 1987    176 non-null    object
 10  PIB 1988    176 non-null    object
 11  PIB 1989    176 non-null    object
 12  PIB 1990    198 non-null    object
 13  PIB 1991    198 non-null    object
 14  PIB 1992    198 non-null    object
 15  PIB 1993    198 non-null    object
 16  PIB 1994    198 non-null    object
 17  PIB 1995    198 non-null    object
 18  PIB 1996    198 non-null    object
 19  PIB 1997    198 non-null    object
 20  PIB 1998    198 non-null    object
 21  PIB 1999    198 non-null    object
 22  PIB 2000    199 non-null    object
 23  PIB 2001    199 non-null    object
 24  PIB 2002    199 non-null    object
 25  PIB 2003    199 non-null    object
 26  PIB 2004    199 non-null    object
 27  PIB 2005    199 non-null    object
 28  PIB 2006    199 non-null    object
 29  PIB 2007    199 non-null    object
 30  PIB 2008    199 non-null    object
 31  PIB 2009    199 non-null    object
 32  PIB 2010    199 non-null    object
 33  PIB 2011    199 non-null    object
 34  PIB 2012    199 non-null    object
 35  PIB 2013    199 non-null    object
 36  PIB 2014    199 non-null    object
 37  PIB 2015    199 non-null    object
 38  PIB 2016    199 non-null    object
 39  PIB 2017    199 non-null    object
 40  PIB 2018    199 non-null    object
 41  PIB 2019    199 non-null    object
 42  PIB 2020    199 non-null    object
 43  PIB 2021    199 non-null    object
 44  PIB 2022    199 non-null    object
 45  PIB 2023    199 non-null    object
dtypes: int64(1), object(45)
memory usage: 74.5+ KB

In [4]:
values = df.columns[2:]
df[values] = df[values].replace("-", "0")
df[values] = df[values].fillna("0")
df.head()

,Unnamed: 0,Pays/Zone,PIB 1980,PIB 1981,PIB 1982,PIB 1983,PIB 1984,PIB 1985,PIB 1986,PIB 1987,...,PIB 2014,PIB 2015,PIB 2016,PIB 2017,PIB 2018,PIB 2019,PIB 2020,PIB 2021,PIB 2022,PIB 2023
0,0,Afghanistan,0,0,0,0,0,0,0,0,...,"20,616","20,057","18,02","18,883","18,401","18,876","20,136","14,941",0,0
2,2,Afrique du Sud,"89,412","93,15","85,897","96,205","84,838","64,481","73,399","96,533",...,"381,195","346,663","323,493","381,317","405,093","389,245","338,193","420,009","405,106","380,906"
3,3,Albanie,"1,946","2,229","2,296","2,319","2,29","2,339","2,587","2,566",...,"13,246","11,389","11,862","13,053","15,157","15,399","15,192","17,984","19,083","23,032"
4,4,Algérie,"42,346","44,372","44,78","47,529","51,513","61,132","61,535","63,3",...,"213,81","165,979","160,034","167,498","174,868","171,673","145,656","163,138","195,06","224,107"
5,5,Allemagne,"853,705","718,264","693,547","691,912","651,9","661,037","944,124","1 174,861",...,"3 890,095","3 357,926","3 468,896","3 689,547","3 976,246","3 889,607","3 884,615","4 281,348","4 085,681","4 429,838"

In [5]:
df[values] = (
    df[values]
        .replace(r"[^\d,.\-]", "", regex=True)   # garder seulement 0-9 , . -
        .replace(",", ".", regex=True)           # virgule -> point
        .astype(float)
)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 203 entries, 0 to 207
Data columns (total 46 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  203 non-null    int64
 1   Pays/Zone   203 non-null    object
 2   PIB 1980    203 non-null    float64
 3   PIB 1981    203 non-null    float64
 4   PIB 1982    203 non-null    float64
 5   PIB 1983    203 non-null    float64
 6   PIB 1984    203 non-null    float64
 7   PIB 1985    203 non-null    float64
 8   PIB 1986    203 non-null    float64
 9   PIB 1987    203 non-null    float64
 10  PIB 1988    203 non-null    float64
 11  PIB 1989    203 non-null    float64
 12  PIB 1990    203 non-null    float64
 13  PIB 1991    203 non-null    float64
 14  PIB 1992    203 non-null    float64
 15  PIB 1993    203 non-null    float64
 16  PIB 1994    203 non-null    float64
 17  PIB 1995    203 non-null    float64
 18  PIB 1996    203 non-null    float64
 19  PIB 1997    203 non-null    float64
 20  PIB 1998    203 non-null    float64
 21  PIB 1999    203 non-null    float64
 22  PIB 2000    203 non-null    float64
 23  PIB 2001    203 non-null    float64
 24  PIB 2002    203 non-null    float64
 25  PIB 2003    203 non-null    float64
 26  PIB 2004    203 non-null    float64
 27  PIB 2005    203 non-null    float64
 28  PIB 2006    203 non-null    float64
 29  PIB 2007    203 non-null    float64
 30  PIB 2008    203 non-null    float64
 31  PIB 2009    203 non-null    float64
 32  PIB 2010    203 non-null    float64
 33  PIB 2011    203 non-null    float64
 34  PIB 2012    203 non-null    float64
 35  PIB 2013    203 non-null    float64
 36  PIB 2014    203 non-null    float64
 37  PIB 2015    203 non-null    float64
 38  PIB 2016    203 non-null    float64
 39  PIB 2017    203 non-null    float64
 40  PIB 2018    203 non-null    float64
 41  PIB 2019    203 non-null    float64
 42  PIB 2020    203 non-null    float64
 43  PIB 2021    203 non-null    float64
 44  PIB 2022    203 non-null    float64
 45  PIB 2023    203 non-null    float64
dtypes: float64(44), int64(1), object(1)
memory usage: 74.5+ KB

In [6]:
df.columns = (df.columns.str.lower().str.replace(" ", "_"))
values = df.columns[2:]
df.head()

,unnamed:_0,pays/zone,pib_1980,pib_1981,pib_1982,pib_1983,pib_1984,pib_1985,pib_1986,pib_1987,...,pib_2014,pib_2015,pib_2016,pib_2017,pib_2018,pib_2019,pib_2020,pib_2021,pib_2022,pib_2023
0,0,Afghanistan,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,20.616,20.057,18.020,18.883,18.401,18.876,20.136,14.941,0.000,0.000
2,2,Afrique du Sud,89.412,93.150,85.897,96.205,84.838,64.481,73.399,96.533,...,381.195,346.663,323.493,381.317,405.093,389.245,338.193,420.009,405.106,380.906
3,3,Albanie,1.946,2.229,2.296,2.319,2.290,2.339,2.587,2.566,...,13.246,11.389,11.862,13.053,15.157,15.399,15.192,17.984,19.083,23.032
4,4,Algérie,42.346,44.372,44.780,47.529,51.513,61.132,61.535,63.300,...,213.810,165.979,160.034,167.498,174.868,171.673,145.656,163.138,195.060,224.107
5,5,Allemagne,853.705,718.264,693.547,691.912,651.900,661.037,944.124,1174.861,...,3890.095,3357.926,3468.896,3689.547,3976.246,3889.607,3884.615,4281.348,4085.681,4429.838

In [7]:
df_clean = df[(df[values] > 0).all(axis=1)]
df_clean.head()

,unnamed:_0,pays/zone,pib_1980,pib_1981,pib_1982,pib_1983,pib_1984,pib_1985,pib_1986,pib_1987,...,pib_2014,pib_2015,pib_2016,pib_2017,pib_2018,pib_2019,pib_2020,pib_2021,pib_2022,pib_2023
2,2,Afrique du Sud,89.412,93.150,85.897,96.205,84.838,64.481,73.399,96.533,...,381.195,346.663,323.493,381.317,405.093,389.245,338.193,420.009,405.106,380.906
3,3,Albanie,1.946,2.229,2.296,2.319,2.290,2.339,2.587,2.566,...,13.246,11.389,11.862,13.053,15.157,15.399,15.192,17.984,19.083,23.032
4,4,Algérie,42.346,44.372,44.780,47.529,51.513,61.132,61.535,63.300,...,213.810,165.979,160.034,167.498,174.868,171.673,145.656,163.138,195.060,224.107
5,5,Allemagne,853.705,718.264,693.547,691.912,651.900,661.037,944.124,1174.861,...,3890.095,3357.926,3468.896,3689.547,3976.246,3889.607,3884.615,4281.348,4085.681,4429.838
9,9,Angola,6.639,6.214,6.214,6.476,6.864,8.457,7.918,9.050,...,145.712,116.194,101.124,122.022,101.353,84.516,57.139,74.861,122.781,93.796

In [8]:
df_clean.to_csv("pib_data_cleaned.csv", index=False)