In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("pib_data.csv")
df.head()

,Unnamed: 0,Pays/Zone,PIB 1980,PIB 1981,PIB 1982,PIB 1983,PIB 1984,PIB 1985,PIB 1986,PIB 1987,...,PIB 2014,PIB 2015,PIB 2016,PIB 2017,PIB 2018,PIB 2019,PIB 2020,PIB 2021,PIB 2022,PIB 2023
0,0,Afghanistan,-,-,-,-,-,-,-,-,...,"20,616","20,057","18,02","18,883","18,401","18,876","20,136","14,941",-,-
1,1,Afrique,"465,984","475,726","481,617","462,898","404,801","397,355","436,64","489,89",...,"2 650,979","2 422,14","2 303,976","2 317,348","2 482,1","2 542,636","2 457,79","2 745,183","2 945,709","2 858,342"
2,2,Afrique du Sud,"89,412","93,15","85,897","96,205","84,838","64,481","73,399","96,533",...,"381,195","346,663","323,493","381,317","405,093","389,245","338,193","420,009","405,106","380,906"
3,3,Albanie,"1,946","2,229","2,296","2,319","2,29","2,339","2,587","2,566",...,"13,246","11,389","11,862","13,053","15,157","15,399","15,192","17,984","19,083","23,032"
4,4,Algérie,"42,346","44,372","44,78","47,529","51,513","61,132","61,535","63,3",...,"213,81","165,979","160,034","167,498","174,868","171,673","145,656","163,138","195,06","224,107"

## Delete rows with continent value in Pays/Zone column

In [3]:
df=df[~df["Pays/Zone"].isin(["Afrique", 
                           "Europe", 
                           "Asie", 
                           "Amérique du Nord", 
                           "Amérique du Sud", 
                           "Océanie",
                           "Monde",
                           "Union européenne"])]
df = df.drop(columns="Unnamed: 0")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201 entries, 0 to 207
Data columns (total 45 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pays/Zone  201 non-null    object
 1   PIB 1980   174 non-null    object
 2   PIB 1981   174 non-null    object
 3   PIB 1982   174 non-null    object
 4   PIB 1983   174 non-null    object
 5   PIB 1984   174 non-null    object
 6   PIB 1985   174 non-null    object
 7   PIB 1986   174 non-null    object
 8   PIB 1987   174 non-null    object
 9   PIB 1988   174 non-null    object
 10  PIB 1989   174 non-null    object
 11  PIB 1990   196 non-null    object
 12  PIB 1991   196 non-null    object
 13  PIB 1992   196 non-null    object
 14  PIB 1993   196 non-null    object
 15  PIB 1994   196 non-null    object
 16  PIB 1995   196 non-null    object
 17  PIB 1996   196 non-null    object
 18  PIB 1997   196 non-null    object
 19  PIB 1998   196 non-null    object
 20  PIB 1999   196 non-null    object
 21  PIB 2000   197 non-null    object
 22  PIB 2001   197 non-null    object
 23  PIB 2002   197 non-null    object
 24  PIB 2003   197 non-null    object
 25  PIB 2004   197 non-null    object
 26  PIB 2005   197 non-null    object
 27  PIB 2006   197 non-null    object
 28  PIB 2007   197 non-null    object
 29  PIB 2008   197 non-null    object
 30  PIB 2009   197 non-null    object
 31  PIB 2010   197 non-null    object
 32  PIB 2011   197 non-null    object
 33  PIB 2012   197 non-null    object
 34  PIB 2013   197 non-null    object
 35  PIB 2014   197 non-null    object
 36  PIB 2015   197 non-null    object
 37  PIB 2016   197 non-null    object
 38  PIB 2017   197 non-null    object
 39  PIB 2018   197 non-null    object
 40  PIB 2019   197 non-null    object
 41  PIB 2020   197 non-null    object
 42  PIB 2021   197 non-null    object
 43  PIB 2022   197 non-null    object
 44  PIB 2023   197 non-null    object
dtypes: object(45)
memory usage: 72.2+ KB

## Select all value columns, replaces “–” and missing entries with “0”, and returns the cleaned DataFrame.

In [4]:
values = df.columns[1:]
df[values] = df[values].replace("-", "0")
df[values] = df[values].fillna("0")
df.head()

,Pays/Zone,PIB 1980,PIB 1981,PIB 1982,PIB 1983,PIB 1984,PIB 1985,PIB 1986,PIB 1987,PIB 1988,...,PIB 2014,PIB 2015,PIB 2016,PIB 2017,PIB 2018,PIB 2019,PIB 2020,PIB 2021,PIB 2022,PIB 2023
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,"20,616","20,057","18,02","18,883","18,401","18,876","20,136","14,941",0,0
2,Afrique du Sud,"89,412","93,15","85,897","96,205","84,838","64,481","73,399","96,533","104,01",...,"381,195","346,663","323,493","381,317","405,093","389,245","338,193","420,009","405,106","380,906"
3,Albanie,"1,946","2,229","2,296","2,319","2,29","2,339","2,587","2,566","2,53",...,"13,246","11,389","11,862","13,053","15,157","15,399","15,192","17,984","19,083","23,032"
4,Algérie,"42,346","44,372","44,78","47,529","51,513","61,132","61,535","63,3","51,664",...,"213,81","165,979","160,034","167,498","174,868","171,673","145,656","163,138","195,06","224,107"
5,Allemagne,"853,705","718,264","693,547","691,912","651,9","661,037","944,124","1 174,861","1 266,623",...,"3 890,095","3 357,926","3 468,896","3 689,547","3 976,246","3 889,607","3 884,615","4 281,348","4 085,681","4 429,838"

## Clean the numeric columns by removing unwanted characters, standardizing commas to dots, converting everything to floats, and then shows the DataFrame’s structure.

In [5]:
df[values] = (
    df[values]
        .replace(r"[^\d,.\-]", "", regex=True)  
        .replace(",", ".", regex=True)          
        .astype(float)
)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201 entries, 0 to 207
Data columns (total 45 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pays/Zone  201 non-null    object
 1   PIB 1980   201 non-null    float64
 2   PIB 1981   201 non-null    float64
 3   PIB 1982   201 non-null    float64
 4   PIB 1983   201 non-null    float64
 5   PIB 1984   201 non-null    float64
 6   PIB 1985   201 non-null    float64
 7   PIB 1986   201 non-null    float64
 8   PIB 1987   201 non-null    float64
 9   PIB 1988   201 non-null    float64
 10  PIB 1989   201 non-null    float64
 11  PIB 1990   201 non-null    float64
 12  PIB 1991   201 non-null    float64
 13  PIB 1992   201 non-null    float64
 14  PIB 1993   201 non-null    float64
 15  PIB 1994   201 non-null    float64
 16  PIB 1995   201 non-null    float64
 17  PIB 1996   201 non-null    float64
 18  PIB 1997   201 non-null    float64
 19  PIB 1998   201 non-null    float64
 20  PIB 1999   201 non-null    float64
 21  PIB 2000   201 non-null    float64
 22  PIB 2001   201 non-null    float64
 23  PIB 2002   201 non-null    float64
 24  PIB 2003   201 non-null    float64
 25  PIB 2004   201 non-null    float64
 26  PIB 2005   201 non-null    float64
 27  PIB 2006   201 non-null    float64
 28  PIB 2007   201 non-null    float64
 29  PIB 2008   201 non-null    float64
 30  PIB 2009   201 non-null    float64
 31  PIB 2010   201 non-null    float64
 32  PIB 2011   201 non-null    float64
 33  PIB 2012   201 non-null    float64
 34  PIB 2013   201 non-null    float64
 35  PIB 2014   201 non-null    float64
 36  PIB 2015   201 non-null    float64
 37  PIB 2016   201 non-null    float64
 38  PIB 2017   201 non-null    float64
 39  PIB 2018   201 non-null    float64
 40  PIB 2019   201 non-null    float64
 41  PIB 2020   201 non-null    float64
 42  PIB 2021   201 non-null    float64
 43  PIB 2022   201 non-null    float64
 44  PIB 2023   201 non-null    float64
dtypes: float64(44), object(1)
memory usage: 72.2+ KB

## Standardize the column names by making them lowercase and replacing spaces with underscores, then selects all value columns

In [6]:
df.columns = (df.columns.str.lower().str.replace(" ", "_"))
values = df.columns[1:]
df.head()

,pays/zone,pib_1980,pib_1981,pib_1982,pib_1983,pib_1984,pib_1985,pib_1986,pib_1987,pib_1988,...,pib_2014,pib_2015,pib_2016,pib_2017,pib_2018,pib_2019,pib_2020,pib_2021,pib_2022,pib_2023
0,Afghanistan,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,20.616,20.057,18.020,18.883,18.401,18.876,20.136,14.941,0.000,0.000
2,Afrique du Sud,89.412,93.150,85.897,96.205,84.838,64.481,73.399,96.533,104.010,...,381.195,346.663,323.493,381.317,405.093,389.245,338.193,420.009,405.106,380.906
3,Albanie,1.946,2.229,2.296,2.319,2.290,2.339,2.587,2.566,2.530,...,13.246,11.389,11.862,13.053,15.157,15.399,15.192,17.984,19.083,23.032
4,Algérie,42.346,44.372,44.780,47.529,51.513,61.132,61.535,63.300,51.664,...,213.810,165.979,160.034,167.498,174.868,171.673,145.656,163.138,195.060,224.107
5,Allemagne,853.705,718.264,693.547,691.912,651.900,661.037,944.124,1174.861,1266.623,...,3890.095,3357.926,3468.896,3689.547,3976.246,3889.607,3884.615,4281.348,4085.681,4429.838

## Keep only the rows where all numeric values are strictly greater than zero.

In [7]:
df_clean = df[(df[values] > 0).all(axis=1)]
df_clean.head()

,pays/zone,pib_1980,pib_1981,pib_1982,pib_1983,pib_1984,pib_1985,pib_1986,pib_1987,pib_1988,...,pib_2014,pib_2015,pib_2016,pib_2017,pib_2018,pib_2019,pib_2020,pib_2021,pib_2022,pib_2023
2,Afrique du Sud,89.412,93.150,85.897,96.205,84.838,64.481,73.399,96.533,104.010,...,381.195,346.663,323.493,381.317,405.093,389.245,338.193,420.009,405.106,380.906
3,Albanie,1.946,2.229,2.296,2.319,2.290,2.339,2.587,2.566,2.530,...,13.246,11.389,11.862,13.053,15.157,15.399,15.192,17.984,19.083,23.032
4,Algérie,42.346,44.372,44.780,47.529,51.513,61.132,61.535,63.300,51.664,...,213.810,165.979,160.034,167.498,174.868,171.673,145.656,163.138,195.060,224.107
5,Allemagne,853.705,718.264,693.547,691.912,651.900,661.037,944.124,1174.861,1266.623,...,3890.095,3357.926,3468.896,3689.547,3976.246,3889.607,3884.615,4281.348,4085.681,4429.838
9,Angola,6.639,6.214,6.214,6.476,6.864,8.457,7.918,9.050,9.818,...,145.712,116.194,101.124,122.022,101.353,84.516,57.139,74.861,122.781,93.796

In [8]:
df_clean.describe()

,pib_1980,pib_1981,pib_1982,pib_1983,pib_1984,pib_1985,pib_1986,pib_1987,pib_1988,pib_1989,...,pib_2014,pib_2015,pib_2016,pib_2017,pib_2018,pib_2019,pib_2020,pib_2021,pib_2022,pib_2023
count,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,...,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,78.942824,80.810641,79.315915,81.414556,84.314106,87.995951,103.772852,119.454366,134.529035,141.566197,...,526.280845,502.423599,513.009838,544.047669,577.029500,584.906866,570.993120,647.635613,669.211577,701.736014
std,279.390687,303.706017,309.912839,334.106113,365.883846,391.994758,438.047167,482.713976,536.007929,564.807915,...,1826.410479,1867.201309,1914.248771,2016.114387,2161.511876,2238.784022,2234.794677,2530.483778,2666.128767,2768.251650
min,0.032000,0.030000,0.035000,0.038000,0.042000,0.032000,0.031000,0.036000,0.045000,0.044000,...,0.178000,0.171000,0.179000,0.188000,0.196000,0.175000,0.178000,0.228000,0.224000,0.246000
25%,1.852250,1.657000,1.487250,1.418250,1.426000,1.464500,1.851750,2.205000,2.135000,2.220750,...,11.691750,11.150500,10.984500,11.568250,12.866750,12.952500,11.575500,12.703750,14.103000,14.510000
50%,6.967000,7.243500,7.220000,6.480500,7.131500,6.263000,6.678500,8.016000,7.539500,8.276000,...,50.137500,46.599500,49.091000,50.709000,52.368000,55.394500,45.354500,52.008000,57.014000,59.951000
75%,42.145000,48.342000,49.832750,47.476000,47.836250,48.198500,51.032250,53.089750,60.498000,63.733000,...,309.940000,302.343500,313.496250,331.211000,353.832750,350.053250,345.967750,389.023250,404.900500,415.199250
max,2857.325000,3207.025000,3343.800000,3634.025000,4037.650000,4339.000000,4579.625000,4855.250000,5236.425000,5641.600000,...,17550.675000,18206.025000,18695.100000,19477.350000,20533.075000,21380.950000,21060.450000,23315.075000,25462.725000,26949.643000

In [9]:
df_clean.to_csv("pib_data_cleaned.csv", index=False)